
.Menu-coffee {
    width: 420px;                             /* Chiều rộng của khung */
    margin: 30px auto;                      /*  Căn giữa khung ra giữa trang */
    padding: 20px 30px;                      /* Khoảng cách từ viền vào chữ bên trong */
    background-color: white;              /* Màu nền trắng */
    border: 10px solid #d3d3d3;                /* Đường viền mỏng màu xám */
    /* box-shadow: 0 5px 15px rgba(109, 107, 107, 0.15); */
}